*{
	font-family: "Arial";
	font-size: 1em;
	margin:0;
	padding:0;
}
a:hover{
	background-color: gold;
}

.nav{
	background-color: #84DEB2;
	font-size: 1.5em;
	text-align: center;
}

.nav_li{
	display: inline-block;
	padding: 12px;
	color: black;
}

.nav_li a{
	color: black;
	text-decoration: none;
}

.nav_li i{
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}

.nav li ul {
	display:none;
	position:absolute;
	background-color: #84DEB2;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:under;
	background-color: #84DEB2;
}

.nav li ul li ul {
	right:0px;
	top:0px;
	background-color: #84DEB2;
}

table {
  table-layout: auto;
  border-collapse: collapse;
}

th{
	background-color: #84DEB2;
	text-align: center;
}

th,td {
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(2n+1){
	background-color: #CAFFE7;
}

footer {
  background-color: #84DEB2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}

.footer_user {
	width: 33%;
	float: left;
}

.footer_admin {
	width: 20%;
	float: left;
}

.footer_first {
	width: 20%;
	float: left;
}

.formulario{
    width: auto;
}

#div_form_registro{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_login{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_altaBono{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_altaResB{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_altaRes{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_elimRes{
	margin: 1em;
	text-align: center;
	font-size: 1em;
}

#div_form_altaKart{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_listarBono{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_listarPistas{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_listarResCon{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_modificarResB{
	margin: 5em;
	text-align: center;
	font-size: 1em;
}

#div_form_modificarRes{
	margin: 5em;
	text-align: center;
	font-size: 1em;
}

#div_form_modificarKart{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_modificarPista{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_modificarPerfil{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#div_form_crearPista{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}
#noRegistrado{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

#bienvenida{
	margin: 5em;
	text-align: center;
	font-size: 1.5em;
}

.profile_image{
	height:1.2em;
	width: 1.2em;
}