<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>P3</display-name>
  <welcome-file-list>
     <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<env-entry> 
    <description>URL de la base de datos</description>
    <env-entry-name>servidor</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc:mysql://oraclepr.uco.es:3306/</env-entry-value> 
</env-entry>

<env-entry> 
    <description>Usuario de la base de datos</description>
    <env-entry-name>usuario</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>i02cabfa</env-entry-value> 
</env-entry>

<env-entry> 
    <description>Password de la base de datos</description>
    <env-entry-name>password</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>zapatilla</env-entry-value> 
</env-entry>

   <error-page>
   <exception-type>java.lang.Throwable</exception-type>
   <location>/errorDefault.jsp</location>
   </error-page>
<servlet>
    <servlet-name>kartAlta</servlet-name>
    <servlet-class>servlets.kartAltaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kartAlta</servlet-name>
    <url-pattern>/kartAlta</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>kartListar</servlet-name>
    <servlet-class>servlets.kartListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kartListar</servlet-name>
    <url-pattern>/kartListar</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>pistaAlta</servlet-name>
    <servlet-class>servlets.pistaAltaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pistaAlta</servlet-name>
    <url-pattern>/pistaAlta</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>pistaListar</servlet-name>
    <servlet-class>servlets.pistaListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pistaListar</servlet-name>
    <url-pattern>/pistaListar</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>kartpista</servlet-name>
    <servlet-class>servlets.asociarKartPistaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kartpista</servlet-name>
    <url-pattern>/kartpista</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>kartstate</servlet-name>
    <servlet-class>servlets.kartStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kartstate</servlet-name>
    <url-pattern>/kartstate</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>pistastate</servlet-name>
    <servlet-class>servlets.pistaStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pistastate</servlet-name>
    <url-pattern>/pistastate</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>reservalistar</servlet-name>
    <servlet-class>servlets.reservaListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservalistar</servlet-name>
    <url-pattern>/reservalistar</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>eliminareserva</servlet-name>
    <servlet-class>servlets.eliminarReservaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminareserva</servlet-name>
    <url-pattern>/eliminareserva</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>listarConcreta</servlet-name>
    <servlet-class>servlets.listarConcretaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarConcreta</servlet-name>
    <url-pattern>/listarConcreta</url-pattern>
  </servlet-mapping>

</web-app>